// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

// Breakpoints
$small-device: 420px;
$medium-device: 860px;
$desktop-device: 1024px;

// Text
$text-default: rgb(63, 63, 63);

// Colors
$bg-body: hsl(0, 0%, 58%);
$bg-backdrop: hsl(0, 0%, 17%);

// Base
:root {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: $text-default;
	background-color: $bg-body;
}

body {
	display: fixed;
	// overflow: hidden;
}

input {
	&:focus {
		outline: none;
	}
}

a {
	color: inherit;
	text-decoration: inherit;
	cursor: inherit;
}