body {
	background-color: #121212;
}

.block {
	padding: 1rem;
	margin: 0 0.4rem;
	border-radius: 4px;
	background-color: $bg-backdrop;
}

.container {
	padding: 0.4rem;
}

.topbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 1rem;
}

