<section class="block">
	<div class="search-bar">
		<input [(ngModel)]="keyword" class="hidden-input" type="text" (keydown)="search($event)">
		<a (click)="toggleFilter()" class="button">
			Filter
		</a>
		<div *ngIf="showFilter" class="filter">
			<ul>
				<li class="result">
					<a class="checkbox" [ngClass]="{'checked': filterLabels}"></a>
					<a (click)="toggleLabels()">Labels</a>
				</li>
				<li class="result">
					<a class="checkbox" [ngClass]="{'checked': filterSystems}"></a>
					<a (click)="toggleSystems()">Systems</a>
				</li>
				<li class="result">
					<a class="checkbox" [ngClass]="{'checked': filterTags}"></a>
					<a (click)="toggleTags()">Tags</a>
				</li>
			</ul>
		</div>
	</div>

</section>

<section *ngIf="checks$ | async; else loading">
	<app-check-state *ngFor="let check of filtered" [state]="check" (click)="goTo(check)"></app-check-state>
</section>

<ng-template #loading>
	loading
</ng-template>