<div class="statistics">
	<h4>Statistics</h4>
	<app-severity level="emergency" [value]="statistics.emergency"></app-severity>
	<app-severity level="alert" [value]="statistics.alert"></app-severity>
	<app-severity level="critical" [value]="statistics.critical"></app-severity>
	<app-severity level="error" [value]="statistics.error"></app-severity>
	<app-severity level="warning" [value]="statistics.warning"></app-severity>
	<app-severity level="notice" [value]="statistics.notice"></app-severity>
	<app-severity level="informational" [value]="statistics.informational"></app-severity>
	<app-severity level="debug" [value]="statistics.debug"></app-severity>
</div>