<div class="statistics">
	<h4>Statistics</h4>
	<severity level="emergency" [value]="statistics.emergency"></severity>
	<severity level="alert" [value]="statistics.alert"></severity>
	<severity level="critical" [value]="statistics.critical"></severity>
	<severity level="error" [value]="statistics.error"></severity>
	<severity level="warning" [value]="statistics.warning"></severity>
	<severity level="notice" [value]="statistics.notice"></severity>
	<severity level="informational" [value]="statistics.informational"></severity>
	<severity level="debug" [value]="statistics.debug"></severity>
</div>